@using Minesweeper.App.ViewModels
@model GameStateViewModel

<table id="game-board">
    @for (int y = 0; y < Model.Height; y++)
    {
        <tr>
            @for (int x = 0; x < Model.Width; x++)
            {
                var cell = Model.Cells.FirstOrDefault(c => c.X == x && c.Y == y);
                if (cell != null)
                {
                    if (cell.IsOpened)
                    {
                        <td class="opened" data-x="@cell.X" data-y="@cell.Y"></td>
                    }
                    else
                    {
                        <td class="closed" data-x="@cell.X" data-y="@cell.Y" style="cursor:pointer;">
                            <img src="~/lib/cells/cellup.svg" alt="Closed" width="24" height="24" />
                        </td>
                    }
                }
                else
                {
                    <td>NULL</td>
                }
            }
        </tr>
    }
</table>

<div id="winModal" class="modal">
    <div>
        <h2>You win!</h2>
        <p>Enter your name for save results:</p>
        <input type="text" id="playerNameInput" placeholder="Name" />
        <br /><br />
        <button onclick="submitPlayerName()">Sumbit</button>
    </div>
</div>

<script>
    window.gameId = '@Model.GameId';
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script src="~/js/game.js"></script>